.button {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #8C8C8C;
    -fx-text-fill: white;
    /*-fx-font-weight: bold;*/
}

.scroll-pane {
    -fx-fill-width: 100%;
    -fx-background-color: #CDC9C9;
    -fx-pref-width: 300;
    -fx-wrap-text: true;
    /*-fx-fit-to-width: true;*/
}


.chat{
    -fx-font-size: 16px;
    -fx-padding: 15;
    -fx-background-color: #E4E4E4;
}