.button {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #8C8C8C;
    -fx-text-fill: white;
    -fx-pref-width: 150px;
}

.gameIDinput{
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #E4E4E4;
    -fx-pref-width: 200px;
}

.input {
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-background-color: #E4E4E4;
    -fx-pref-width: 150px;
    -fx-border-width: 2px;
    -fx-border-color: rgba(255,255,255,0);
}

.label {
    -fx-font-size: 14px;
}

.valid {
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.invalid {
    -fx-border-color: red;
    -fx-border-width: 2px;
}